services:
  mascot:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      network: host
    ports:
      - "5000:5000"
    env_file:
      - ../.env
    volumes:
      - ../answers.json:/app/answers.json
      - ../config.yaml:/app/config.yaml
    restart: unless-stopped
